In [2]:
import pandas as pd
import numpy as np

In [249]:
ind = pd.read_excel("EA_Data/industry.xlsx")
form = pd.read_excel("EA_Data/industry_form.xlsx")

1. 산업채수별 먼저 저장
2. 변수 종사자수 만들고
3. 추가..

In [251]:
   # year 값 생성
start_year = 2022
num_rows_per_year = 179
total_rows = len(form)

years = np.repeat(range(start_year, start_year - total_rows // num_rows_per_year,-1), num_rows_per_year)
form.iloc[:len(years), 1] = years

In [252]:
ind.iloc[0:1,:]

,Unnamed: 0,구분별(1),구분별(2),서울시,서울시.1,서울시.2,서울시.3,서울시.4,서울시.5,서울시.6,...,Unnamed: 293,Unnamed: 294,Unnamed: 295,Unnamed: 296,Unnamed: 297,Unnamed: 298,Unnamed: 299,Unnamed: 300,Unnamed: 301,Unnamed: 302
0,NaN,구분별(1),구분별(2),2008,2008,2008,2008,2008,2008,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
ind.drop(columns="Unnamed: 0",inplace=True)
ind.set_index("구분별(2)",inplace=True)

In [254]:
ind_e = ind.filter(like="사업체",axis=0)

1. reindex
2. form에 합치기

In [255]:
custom_orders =form["시군구"][:179].to_list()
len(custom_orders)

179

In [256]:
ind_e.set_index("구분별(1)",inplace=True)

In [257]:
print(ind_e.index.nunique())
ind_e.shape

179

(179, 300)

In [258]:
duplicates = [x for x in set(ind_e.index) if ind_e.index.to_list().count(x) > 1]
print("중복값:", duplicates)

중복값: []

In [ ]:
ind_e.reindex(custom_orders)

In [ ]:
ind_e.iloc[0:,0:20]

In [ ]:
for i,j in zip(range(280,-1,-20),range(0,15*179,179)):
    # print(i,i+20,j,j+179)
    form.iloc[j:j+179,2:22] = ind_e.iloc[:,i:i+20]

In [288]:
form.to_excel("industry_e.xlsx",index=False)

### 산업체 종사자별

In [289]:
ind = pd.read_excel("EA_Data/industry.xlsx")
form = pd.read_excel("EA_Data/industry_form.xlsx")

In [290]:
   # year 값 생성
start_year = 2022
num_rows_per_year = 179
total_rows = len(form)

years = np.repeat(range(start_year, start_year - total_rows // num_rows_per_year,-1), num_rows_per_year)
form.iloc[:len(years), 1] = years

In [291]:
ind.drop(columns="Unnamed: 0",inplace=True)
ind.set_index("구분별(2)",inplace=True)

In [292]:
ind_workers = ind.filter(like="종사자",axis=0)
ind_workers.set_index("구분별(1)",inplace=True)

In [293]:
print(ind_workers.index.nunique())
ind_workers.shape

179

(179, 300)

In [ ]:
ind_workers.reindex(custom_orders)

In [ ]:
for i,j in zip(range(280,-1,-20),range(0,15*179,179)):
    form.iloc[j:j+179,2:22] = ind_e.iloc[:,i:i+20]

In [297]:
form.head(3)

,시군구,year,total_ind,first_ind,mining,manuf,elec_water,waste,construc,commerce,...,info_ind,finan,real_est,science,facility,public,educ_ser,health_ser,arts,associ
0,서울특별시,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,2022.0,400565,152,16,38067,301,681,26465,108084,...,4376,3842,21414,12707,9083,698,16472,10719,8177,32687
2,대구광역시,2022.0,279223,58,9,32445,705,484,19535,72840,...,3009,2730,12522,8293,5319,453,13461,7928,6361,23949

In [296]:
form.to_excel("industry_workers.xlsx",index=False)