In [2]:
import pandas as pd
import numpy as np
import os 
import csv

### 경제수준:economic_level.xlsx

In [4]:
final_df = pd.read_excel('./EA_Data/final_local.xlsx')
final_df.head(2)

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,61.1,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.7,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
el = pd.read_excel('./EA_Data/economic_level.xlsx', engine='openpyxl',sheet_name=1)
el.drop(1,inplace=True)

In [ ]:
el

In [ ]:
for i,j in zip(range(5,5+15*3,3),range(0,15*179,179)):
    final_df.iloc[j:j+179,3:6] = el.iloc[1:,i:i+3].values
final_df

In [ ]:
# final_df.loc[0:179,["hos","er","er1564"]] = el.iloc[1:,5:8].values
final_df.iloc[0:179,2:5]

In [105]:
final_df.to_excel('ecm_result1.0.xlsx',sheet_name="economic_level",index=False)

### 인구10만명 당 문화기반 시설: cf

In [ ]:
final_df = pd.read_excel('./ecm_result1.0.xlsx')
final_df.head(5)

In [ ]:
infra = pd.read_excel('./EA_Data/infra.xlsx',sheet_name = "문화시설")
infra = infra.drop(1)
infra

In [ ]:
for i,j in zip(range(2,17),range(0,15*179,179)):
    final_df.iloc[j:j+179,6] = infra.iloc[1:,i].astype(float).values
final_df

In [122]:
final_df.to_excel('ecm_result1.1.xlsx',sheet_name="economic_level",index=False)

### 학생수: kin, elementary

In [ ]:
final_df = pd.read_excel('./ecm_result1.1.xlsx')
final_df.head(5)

kin = pd.read_excel('./EA_Data/edus.xlsx',sheet_name = "교육기관, 인력, 예산")
kin = kin.drop(1)
kin

In [ ]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,7:9] = kin.iloc[1:,i:i+2].values
final_df

final_df.to_excel('ecm_result1.2.xlsx',sheet_name="edus",index=False)

In [ ]:
final_df

### 의사수: doctors

In [ ]:
final_df = pd.read_excel('./ecm_result1.2.xlsx')

doctors = pd.read_excel('./EA_Data/healthcare.xlsx',sheet_name = "보건의료인력")
doctors = doctors.drop(1)

In [ ]:
doctors

In [ ]:
for i,j in zip(range(3,3+15),range(0,15*179,179)):
    final_df.iloc[j:j+179,9] = doctors.iloc[1:,i].values

In [ ]:
final_df

In [132]:
final_df.to_excel('ecm_result1.3.xlsx',sheet_name="doctors",index=False)

### 삶의 질: life

In [ ]:
final_df = pd.read_excel('./ecm_result1.3.xlsx')

lifes = pd.read_excel('./EA_Data/life.xlsx',sheet_name = "삶의 질")
lifes = lifes.drop(1)
lifes

In [ ]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
final_df

In [139]:
final_df.to_excel('ecm_result1.4.xlsx',sheet_name="life",index=False)

### 미분양: 후순위 col = 14

### 인구: 동태

In [ ]:
final_df = pd.read_excel('./ecm_result1.4.xlsx')

pop_d = pd.read_excel('./EA_Data/pop_d.xlsx',sheet_name = "인구동태")
pop_d = pop_d.drop(1)
pop_d

In [ ]:
for i,j in zip(range(12,12+15*10,10),range(0,15*179,179)):
    final_df.iloc[j:j+179,15:25] = pop_d.iloc[1:,i:i+10].values
final_df

In [143]:
final_df.to_excel('ecm_result1.5.xlsx',sheet_name="pop_d",index=False)

### 인구: 정태

In [ ]:
final_df = pd.read_excel('./ecm_result1.5.xlsx')

pop_s = pd.read_excel('./EA_Data/pop_s.xlsx',sheet_name = "인구정태")
pop_s = pop_s.drop(1)
pop_s

In [ ]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
final_df

In [147]:
final_df.to_excel('ecm_result1.6.xlsx',sheet_name="pop_s",index=False)

### 스트레스

In [ ]:
final_df = pd.read_excel('./ecm_result1.6.xlsx')

stress = pd.read_excel('./EA_Data/stress.xlsx',sheet_name = "스트레스")
stress = stress.drop(1)
stress.head(5)

In [151]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values
final_df

/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3164768334.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['24', '20.8', '20.3', '24.2', '24.3', '23.4', '20.5', '20.1', '23.2', '22.4', '24.1', '24.8', '24.1', '25.5', '20.2', '26.4', '23.1', '26.2', '22.5', '22.3', '19.9', '23.2', '23.9', '23', '27.1', '22.8', '24.1', '19.7', '23.4', '21.3', '24.3', '23.9', '23.2', '18.4', '25.5', '23.1', '22', '0', '20.3', '15.3', '22.6', '22', '22.9', '25.6', '21.7', '19.8', '20.9', '16.2', '20.2', '20.7', '19.6', '20.6', '21.7', '20.2', '21.3', '19', '21.7', '23.5', '17.1', '22.5', '22.7', '0', '22', '26.1', '23.1', '0', '25.1', '17.8', '20.6', '24.7', '17.5', '21.4', '16.8', '21.9', '22.9', '24.5', '21.2', '21', '26.9', '24.3', '18.3', '21.9', '21.1', '19.5', '0', '18.5', '17.4', '21.5', '22.6', '18', '22.5', '0', '22.7', '24.5', '24.1', '21.7', '22.7', '24', '21.8', '14.4', '20.8', '20.1', '20.4', '20.2', '18.8', '22.4', '19.2', '19.6', '26.3', '17.8', '19.1', '21.8', '21.4', '18.3', '18.5', '14.2', '11.8', '22.1', '21.6', '19.5', '21', '17.9', '16.2', '15.1', '17.6', '24', '20.4', '19.2', '15.6', '16', '20.4', '20', '20.4', '22.2', '20.1', '23', '18.5', '21.8', '15', '19.2', '23.7', '16.1', '16.9', '14', '20.2', '20', '18.6', '17.5', '17.4', '18', '22.6', '19.9', '16.4', '16.6', '20.7', '22.4', '21.4', '19.1', '19', '20', '21', '25.8', '17.6', '15.3', '21.1', '21.4', '16', '20', '14.4', '18.8', '15.4', '18.1', '15.4', '21.8', '18.4', '18.1', '23', '23.4', '21.9']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3164768334.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['25.7', '22.8', '22.6', '26.3', '25.9', '24.5', '21.9', '20.1', '24.6', '23.3', '25.3', '26.3', '25.8', '26.9', '21.9', '27.8', '23.5', '28.5', '24.7', '23.9', '21.5', '25.2', '24', '23.2', '29.3', '25.4', '24.7', '21.2', '23.4', '22.4', '26.2', '24.8', '23.5', '18', '27.8', '25.5', '24.3', '0', '24.9', '17.3', '26.7', '25.5', '26.4', '28.8', '25.1', '20.8', '23.3', '17.2', '24.6', '25.4', '23', '24.3', '23.6', '24', '23.1', '22.9', '26', '26.5', '17.1', '27.6', '25.2', '0', '25.1', '29.6', '24.6', '0', '31.8', '22.3', '21.8', '27.6', '16.6', '26.4', '22.3', '24.9', '25.4', '25.4', '25.3', '21.1', '29.3', '25.9', '22', '23.8', '24', '23.8', '0', '22.3', '21.9', '23', '25.5', '19.6', '29.1', '0', '24.9', '25.7', '26.2', '24.3', '27.2', '25', '24.9', '15.3', '22.1', '24', '23.2', '26', '24.8', '26.7', '24.3', '21.5', '26.3', '20.3', '20.2', '25', '22.9', '19.8', '21.3', '14.4', '11.6', '26', '23.9', '20.4', '26.7', '22.3', '15.8', '17.5', '19.3', '24.8', '23.6', '21.7', '16.5', '14.4', '23.4', '22.6', '22.9', '24', '25.4', '25', '21', '24', '19', '24.5', '25.9', '20.6', '20.9', '18.5', '22.5', '19.5', '23.6', '20.9', '22.1', '19.9', '23.9', '24.4', '19.7', '18.6', '23.1', '24.8', '24', '20.4', '20.6', '21.9', '23.7', '27.6', '20.3', '16.3', '23.4', '23.7', '20.7', '23.9', '16.7', '22.3', '18.9', '22.6', '17.2', '27.5', '23.2', '23.1', '25', '25.4', '23.8']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,60.4,0.0,4.80,"66,524","393,565","32,704",...,"468,146","430,576","465,916","-35,340","9,428,372",94.1,100.00,0,24,25.7
1,부산광역시,부산광역시,2022,0.0,57.1,0.0,4.30,"36,308","154,858","8,356",...,"169,621","104,892","118,454","-13,562","3,317,812",95.4,99.77,0,20.8,22.8
2,대구광역시,대구광역시,2022,0.0,59.1,0.0,4.00,"32,272","121,485","6,192",...,"102,771","81,567","93,086","-11,519","2,363,691",96.8,98.70,0,20.3,22.6
3,인천광역시,인천광역시,2022,0.0,62.7,0.0,4.30,"35,427","155,906","5,375",...,"116,812","155,221","127,120","28,101","2,967,314",100.2,97.78,0,24.2,26.3
4,광주광역시,광주광역시,2022,0.0,58.6,0.0,5.50,"20,998","83,929","3,751",...,"65,006","55,458","63,100","-7,642","1,431,050",97.7,100.00,0,24.3,25.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0.0,0.0,0.0,7.90,607,"4,277",62,...,"1,386","2,696","3,141",-505,"63,268",94.8,62.18,78.69,21.7,20.4
2681,경상남도,합천군,2008,0.0,0.0,0.0,8.98,373,"2,445",56,...,"2,757","5,845","5,304",556,"55,677",91.7,22.48,56.61,39,43.3
2682,제주특별자치도,제주특별자치도,2008,0.0,68.0,0.0,13.91,"5,016","48,291",709,...,"8,714","20,560","22,796","-2,236","560,618",99.8,94.07,303.28,30.3,30.3
2683,제주특별자치도,제주시,2008,0.0,0.0,0.0,0.00,0,0,590,...,"3,752","15,219","17,159",-730,"407,498",99.4,96.92,416.76,0,0
2684,제주특별자치도,서귀포시,2008,0.0,0.0,0.0,0.00,0,0,119,...,"4,962","5,341","5,637","-1,506","153,120",101.1,86.48,175.85,0,0

In [152]:
final_df.to_excel('ecm_result1.7.xlsx',sheet_name="stress",index=False)