In [98]:
import pandas as pd
import numpy as np
import os 
import csv

### 경제수준:economic_level.xlsx

In [113]:
final_df = pd.read_excel('./EA_Data/final_local.xlsx')
final_df.head(5)

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,61.1,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.7,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대구광역시,대구광역시,2022,0.0,59.8,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,인천광역시,인천광역시,2022,0.0,63.1,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주광역시,광주광역시,2022,0.0,60.1,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
el = pd.read_excel('./EA_Data/economic_level.xlsx', engine='openpyxl',sheet_name=1)
el.drop(1,inplace=True)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [110]:
el

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,2022,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,...,Unnamed: 40,2010,Unnamed: 42,Unnamed: 43,2009,Unnamed: 45,Unnamed: 46,2008,Unnamed: 48,Unnamed: 49
0,NaN,NaN,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,...,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세
2,서울특별시,서울특별시,0,61.1,0,0,60.4,0,0,59.2,...,0,0,59.2,0,0,58.5,0,0,60.1,0
3,부산광역시,부산광역시,0,57.7,0,0,57.1,0,0,56.2,...,0,0,54.3,0,0,54.2,0,0,55.3,0
4,대구광역시,대구광역시,0,59.8,0,0,59.1,0,0,58.2,...,0,0,57,0,0,56.4,0,0,56.5,0
5,인천광역시,인천광역시,0,63.1,0,0,62.7,0,0,61.3,...,0,0,59.6,0,0,59.2,0,0,59.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,경상남도,합천군,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,제주특별자치도,제주특별자치도,0,69.2,0,0,69.9,0,0,67.4,...,0,0,65.2,0,0,67.1,0,0,68,0
179,제주특별자치도,제주시,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,제주특별자치도,서귀포시,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
el

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,2022,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,...,Unnamed: 40,2010,Unnamed: 42,Unnamed: 43,2009,Unnamed: 45,Unnamed: 46,2008,Unnamed: 48,Unnamed: 49
0,NaN,NaN,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,...,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세
2,서울특별시,서울특별시,0,61.1,0,0,60.4,0,0,59.2,...,0,0,59.2,0,0,58.5,0,0,60.1,0
3,부산광역시,부산광역시,0,57.7,0,0,57.1,0,0,56.2,...,0,0,54.3,0,0,54.2,0,0,55.3,0
4,대구광역시,대구광역시,0,59.8,0,0,59.1,0,0,58.2,...,0,0,57,0,0,56.4,0,0,56.5,0
5,인천광역시,인천광역시,0,63.1,0,0,62.7,0,0,61.3,...,0,0,59.6,0,0,59.2,0,0,59.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,경상남도,합천군,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,제주특별자치도,제주특별자치도,0,69.2,0,0,69.9,0,0,67.4,...,0,0,65.2,0,0,67.1,0,0,68,0
179,제주특별자치도,제주시,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,제주특별자치도,서귀포시,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
for i,j in zip(range(5,5+15*3,3),range(0,15*179,179)):
    final_df.iloc[j:j+179,3:6] = el.iloc[1:,i:i+3].values
final_df

/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3709971627.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,3:6] = el.iloc[1:,i:i+3].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3709971627.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['60.4', '57.1', '59.1', '62.7', '58.6', '61.6', '59.2', '63.7', '63.9', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '61.8', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '64.9', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '64.3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '62.2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '66.3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '62.9', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '61.1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '69.9', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,3:6] = el.iloc[1:,i:i+3].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3709971627.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,3:6] = el.iloc[1:,i:i+3].values

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0,60.4,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0,57.1,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대구광역시,대구광역시,2022,0,59.1,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,인천광역시,인천광역시,2022,0,62.7,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주광역시,광주광역시,2022,0,58.6,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2681,경상남도,합천군,2008,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2682,제주특별자치도,제주특별자치도,2008,0,68,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683,제주특별자치도,제주시,2008,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684,제주특별자치도,서귀포시,2008,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
# final_df.loc[0:179,["hos","er","er1564"]] = el.iloc[1:,5:8].values
final_df.iloc[0:179,2:5]

    year   hos er
0      0  60.4  0
1      0  57.1  0
2      0  59.1  0
3      0  62.7  0
4      0  58.6  0
..   ...   ... ..
174    0     0  0
175    0     0  0
176    0  69.9  0
177    0     0  0
178    0     0  0

[179 rows x 3 columns]

In [105]:
final_df.to_excel('ecm_result1.0.xlsx',sheet_name="economic_level",index=False)

### 인구10만명 당 문화기반 시설: cf

In [ ]:
final_df = pd.read_excel('./ecm_result1.0.xlsx')
final_df.head(5)

In [ ]:
infra = pd.read_excel('./EA_Data/infra.xlsx',sheet_name = "문화시설")
infra = infra.drop(1)
infra

In [ ]:
for i,j in zip(range(2,17),range(0,15*179,179)):
    final_df.iloc[j:j+179,6] = infra.iloc[1:,i].astype(float).values
final_df

In [122]:
final_df.to_excel('ecm_result1.1.xlsx',sheet_name="economic_level",index=False)

### 학생수: kin, elementary

In [123]:
final_df = pd.read_excel('./ecm_result1.1.xlsx')
final_df.head(5)

kin = pd.read_excel('./EA_Data/edus.xlsx',sheet_name = "교육기관, 인력, 예산")
kin = kin.drop(1)
kin

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도,시군구,2023,Unnamed: 3,2022,Unnamed: 5,2021,Unnamed: 7,2020,Unnamed: 9,...,2012,Unnamed: 25,2011,Unnamed: 27,2010,Unnamed: 29,2009,Unnamed: 31,2008,Unnamed: 33
0,NaN,NaN,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,...,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수
2,서울특별시,서울특별시,"62,880","380,439","66,524","393,565","69,958","399,435","74,657","409,536",...,"87,997","502,000","81,237","535,948","78,789","566,149","79,704","598,514","82,144","807,007"
3,부산광역시,부산광역시,"34,244","152,219","36,308","154,858","38,651","153,921","40,765","153,527",...,"41,246","172,069","38,310","184,983","36,433","197,397","36,652","210,826","36,833","227,494"
4,대구광역시,대구광역시,"30,496","119,999","32,272","121,485","33,958","121,308","35,651","122,587",...,"31,657","146,899","28,669","157,693","27,178","167,548","27,570","178,029","27,329","189,585"
5,인천광역시,인천광역시,"34,777","155,083","35,427","155,906","36,170","155,271","38,319","156,928",...,"38,162","164,928","34,592","173,598","32,521","183,261","31,858","193,210","31,368","205,781"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,442,"2,626",436,"2,736",447,"2,896",508,"2,941",...,598,"3,293",581,"3,516",584,"3,772",582,"4,081",607,"4,277"
177,경상남도,합천군,181,987,190,"1,004",193,"1,098",215,"1,171",...,374,"1,620",322,"1,796",355,"2,045",331,"2,225",373,"2,445"
178,제주특별자치도,제주특별자치도,"5,589","40,531","5,945","41,628","6,277","41,328","6,395","40,575",...,"5,059","40,172","4,847","42,143","4,743","44,035","4,988","46,028","5,016","48,291"
179,제주특별자치도,제주시,"4,498","30,887","4,716","31,636","5,021","31,660","5,168","31,087",...,"4,249",0,"4,058",0,0,0,0,0,0,0
180,제주특별자치도,서귀포시,"1,091","9,644","1,229","9,992","1,256","9,668","1,227","9,488",...,810,0,789,0,0,0,0,0,0,0

In [126]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,7:9] = kin.iloc[1:,i:i+2].values
final_df

final_df.to_excel('ecm_result1.2.xlsx',sheet_name="edus",index=False)

/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/2835287381.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['66,524', '36,308', '32,272', '35,427', '20,998', '20,405', '14,779', '6,422', '153,149', '14,097', '7,803', '4,213', '5,033', '8,577', '2,521', '7,537', '352', '6,258', '11,361', '466', '1,622', '9,137', '4,209', '6,281', '2,242', '1,117', '3,511', '12,515', '6,294', '1,989', '2,025', '9,614', '16,352', '2,436', '2,670', '918', '944', '0', '326', '243', '486', '13,168', '2,836', '4,259', '1,468', '917', '136', '430', '632', '468', '229', '223', '180', '178', '249', '193', '183', '280', '158', '149', '14,993', '0', '2,096', '1,339', '8,518', '0', '251', '364', '242', '875', '172', '812', '90', '234', '23,647', '9,049', '889', '873', '5,400', '1,758', '552', '658', '1,380', '258', '0', '366', '177', '142', '1,405', '433', '307', '0', '18,740', '8,452', '3,255', '3,064', '841', '347', '580', '1,035', '94', '141', '106', '115', '175', '244', '291', '16,285', '2,844', '2,770', '3,180', '1,634', '1,063', '278', '126', '117', '214', '121', '352', '193', '119', '446', '319', '949', '45', '289', '403', '471', '222', '130', '31,365', '6,837', '2,392', '1,974', '1,874', '8,389', '718', '615', '1,007', '565', '3,654', '60', '93', '148', '52', '110', '213', '99', '128', '1,516', '568', '156', '123', '74', '42,385', '0', '0', '3,764', '0', '1,078', '671', '7,940', '855', '4,390', '7,038', '14,109', '160', '527', '370', '128', '164', '152', '130', '283', '436', '190', '5,945', '4,716', '1,229']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,7:9] = kin.iloc[1:,i:i+2].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/2835287381.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['393,565', '154,858', '121,485', '155,906', '83,929', '76,960', '66,450', '32,230', '767,346', '65,040', '44,964', '22,339', '26,648', '36,847', '15,648', '34,122', '4,416', '32,026', '53,831', '4,231', '9,260', '45,003', '16,157', '32,896', '13,314', '7,299', '20,999', '67,182', '30,734', '12,783', '10,277', '36,568', '69,901', '20,931', '13,987', '5,825', '5,052', '0', '1,679', '2,311', '5,076', '71,530', '14,885', '19,336', '9,313', '4,757', '1,870', '3,973', '2,471', '2,392', '1,498', '1,198', '1,312', '1,231', '1,893', '1,037', '981', '1,439', '1,041', '903', '83,827', '0', '9,975', '5,933', '50,087', '0', '993', '1,919', '1,518', '5,470', '992', '4,082', '823', '2,035', '118,228', '41,269', '4,039', '4,126', '23,432', '10,408', '5,124', '2,793', '10,473', '1,842', '0', '2,085', '1,641', '886', '5,316', '2,720', '2,074', '0', '91,290', '39,311', '15,025', '13,701', '4,587', '3,377', '3,139', '4,371', '771', '861', '805', '787', '897', '1,900', '1,758', '90,238', '14,317', '14,116', '16,438', '6,457', '8,978', '1,431', '835', '856', '1,654', '1,157', '2,528', '1,325', '1,156', '2,507', '2,284', '5,580', '880', '1,989', '1,787', '2,030', '1,059', '874', '127,385', '27,617', '11,256', '6,693', '7,929', '27,930', '4,448', '3,343', '3,568', '2,646', '13,605', '440', '999', '582', '450', '1,042', '996', '960', '1,021', '6,610', '2,298', '883', '1,816', '253', '187,423', '0', '0', '19,971', '0', '7,366', '5,856', '34,663', '3,831', '18,685', '22,875', '57,918', '685', '3,058', '2,134', '2,022', '1,223', '1,208', '877', '1,311', '2,736', '1,004', '41,628', '31,636', '9,992']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,7:9] = kin.iloc[1:,i:i+2].values

In [127]:
final_df

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,60.4,0.0,4.80,"66,524","393,565",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.1,0.0,4.30,"36,308","154,858",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대구광역시,대구광역시,2022,0.0,59.1,0.0,4.00,"32,272","121,485",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,인천광역시,인천광역시,2022,0.0,62.7,0.0,4.30,"35,427","155,906",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주광역시,광주광역시,2022,0.0,58.6,0.0,5.50,"20,998","83,929",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0.0,0.0,0.0,7.90,607,"4,277",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2681,경상남도,합천군,2008,0.0,0.0,0.0,8.98,373,"2,445",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2682,제주특별자치도,제주특별자치도,2008,0.0,68.0,0.0,13.91,"5,016","48,291",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683,제주특별자치도,제주시,2008,0.0,0.0,0.0,0.00,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684,제주특별자치도,서귀포시,2008,0.0,0.0,0.0,0.00,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 의사수: doctors

In [ ]:
final_df = pd.read_excel('./ecm_result1.2.xlsx')

doctors = pd.read_excel('./EA_Data/healthcare.xlsx',sheet_name = "보건의료인력")
doctors = doctors.drop(1)

In [135]:
doctors

,시도,시군구,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,NaN,NaN,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수
2,서울특별시,서울특별시,"33,868","32,704","32,045","31,140","30,359","29,378","28,746","28,189","27,726","27,465","27,055","25,331","24,791","24,400","23,212","22,067"
3,부산광역시,부산광역시,"8,460","8,356","8,219","8,102","8,008","7,852","7,735","7,637","7,538","7,341","7,152","6,928","6,765","6,522","6,191","6,033"
4,대구광역시,대구광역시,"6,335","6,192","6,083","6,013","5,908","5,721","5,552","5,495","5,335","5,195","5,114","5,013","4,837","4,768","4,683","4,551"
5,인천광역시,인천광역시,"5,661","5,375","5,208","5,130","5,071","4,893","4,684","4,469","4,351","4,167","3,936","3,739","3,605","3,406","3,353","3,224"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,72,74,80,90,78,74,75,69,69,64,63,63,64,68,69,62
177,경상남도,합천군,47,52,54,56,47,49,54,59,55,53,56,55,53,55,60,56
178,제주특별자치도,제주특별자치도,"1,229","1,214","1,195","1,185","1,175","1,137","1,112","1,047","1,021",961,940,861,829,804,761,709
179,제주특별자치도,제주시,"1,028","1,017","1,011",998,993,963,937,885,861,810,803,729,699,678,636,590
180,제주특별자치도,서귀포시,201,197,184,187,182,174,175,162,160,151,137,132,130,126,125,119

In [ ]:
for i,j in zip(range(3,3+15),range(0,15*179,179)):
    final_df.iloc[j:j+179,9] = doctors.iloc[1:,i].values

In [136]:
final_df

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,60.4,0.0,4.80,"66,524","393,565","32,704",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.1,0.0,4.30,"36,308","154,858","8,356",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대구광역시,대구광역시,2022,0.0,59.1,0.0,4.00,"32,272","121,485","6,192",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,인천광역시,인천광역시,2022,0.0,62.7,0.0,4.30,"35,427","155,906","5,375",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주광역시,광주광역시,2022,0.0,58.6,0.0,5.50,"20,998","83,929","3,751",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0.0,0.0,0.0,7.90,607,"4,277",62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2681,경상남도,합천군,2008,0.0,0.0,0.0,8.98,373,"2,445",56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2682,제주특별자치도,제주특별자치도,2008,0.0,68.0,0.0,13.91,"5,016","48,291",709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683,제주특별자치도,제주시,2008,0.0,0.0,0.0,0.00,0,0,590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684,제주특별자치도,서귀포시,2008,0.0,0.0,0.0,0.00,0,0,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
final_df.to_excel('ecm_result1.3.xlsx',sheet_name="doctors",index=False)

### 삶의 질: life

In [134]:
final_df = pd.read_excel('./ecm_result1.3.xlsx')

lifes = pd.read_excel('./EA_Data/life.xlsx',sheet_name = "삶의 질")
lifes = lifes.drop(1)
lifes

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,Unnamed: 5,2022,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,2009,Unnamed: 59,Unnamed: 60,Unnamed: 61,2008,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율,...,행복감 지수_조율,행복감 지수_표준화율,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율
2,서울특별시,서울특별시,0,0,0,0,0,0,0,0,...,0,0,0.96,0.96,0,0,0.97,0.97,0,0
3,부산광역시,부산광역시,0,0,0,0,0,0,0,0,...,0,0,0.96,0.96,0,0,0.96,0.96,0,0
4,대구광역시,대구광역시,0,0,0,0,0,0,0,0,...,0,0,0.96,0.96,0,0,0.96,0.96,0,0
5,인천광역시,인천광역시,0,0,0,0,0,0,0,0,...,0,0,0.95,0.95,0,0,0.96,0.96,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,0,0,0,0,0,0,0,0,...,0,0,0.93,0.96,0,0,0.94,0.96,0,0
177,경상남도,합천군,0,0,0,0,0,0,0,0,...,0,0,0.91,0.95,0,0,0.9,0.94,0,0
178,제주특별자치도,제주특별자치도,0,0,0,0,0,0,0,0,...,0,0,0.94,0.95,0,0,0.96,0.96,0,0
179,제주특별자치도,제주시,0,0,0,0,0,0,0,0,...,0,0,0.94,0.94,0,0,0,0,0,0
180,제주특별자치도,서귀포시,0,0,0,0,0,0,0,0,...,0,0,0.95,0.96,0,0,0,0,0,0

In [138]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
final_df

/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/2263752800.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/2263752800.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/2263752800.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/2263752800.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,60.4,0.0,4.80,"66,524","393,565","32,704",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.1,0.0,4.30,"36,308","154,858","8,356",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대구광역시,대구광역시,2022,0.0,59.1,0.0,4.00,"32,272","121,485","6,192",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,인천광역시,인천광역시,2022,0.0,62.7,0.0,4.30,"35,427","155,906","5,375",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주광역시,광주광역시,2022,0.0,58.6,0.0,5.50,"20,998","83,929","3,751",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0.0,0.0,0.0,7.90,607,"4,277",62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2681,경상남도,합천군,2008,0.0,0.0,0.0,8.98,373,"2,445",56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2682,제주특별자치도,제주특별자치도,2008,0.0,68.0,0.0,13.91,"5,016","48,291",709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683,제주특별자치도,제주시,2008,0.0,0.0,0.0,0.00,0,0,590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2684,제주특별자치도,서귀포시,2008,0.0,0.0,0.0,0.00,0,0,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
final_df.to_excel('ecm_result1.4.xlsx',sheet_name="life",index=False)

### 미분양: 후순위 col = 14

### 인구: 동태

In [141]:
final_df = pd.read_excel('./ecm_result1.4.xlsx')

pop_d = pd.read_excel('./EA_Data/pop_d.xlsx',sheet_name = "인구동태")
pop_d = pop_d.drop(1)
pop_d

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2008,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161
0,NaN,NaN,인구증가율,합계출산율,소멸위험지수,총전입,총전출,시도내이동_시군구간 전입,시도내이동_시군구간 전출,시도간전입,...,인구증가율,합계출산율,소멸위험지수,총전입,총전출,시도내이동_시군구간 전입,시도내이동_시군구간 전출,시도간전입,시도간전출,순이동인구
2,서울특별시,서울특별시,0,0,0,"1,206,963","1,238,213","478,553","478,553","430,159",...,0.33,1.01,2,"2,025,358","2,083,352","792,776","792,776","599,145","657,139","-57,994"
3,부산광역시,부산광역시,0,0,0,"364,271","375,703","158,695","158,695","102,217",...,-0.53,0.98,1.47,"514,502","549,106","220,814","220,814","126,624","161,228","-34,604"
4,대구광역시,대구광역시,0,0,0,"296,291","301,579","120,988","120,988","83,536",...,0,1.07,1.63,"409,938","422,676","161,729","161,729","98,825","111,563","-12,738"
5,인천광역시,인천광역시,0,0,0,"424,127","390,620","125,952","125,952","160,441",...,1.15,1.19,1.97,"565,585","556,166","185,742","185,742","175,640","166,221","9,419"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,0,0,0,"4,523","4,318","1,134",903,"2,583",...,-1.02,1.36,0.5,"5,547","6,052","1,326","1,386","2,696","3,141",-505
177,경상남도,합천군,0,0,0,"2,928","3,065",737,814,"1,639",...,0.48,1.26,0.34,"10,189","9,633","2,772","2,757","5,845","5,304",556
178,제주특별자치도,제주특별자치도,0,0,0,"81,508","83,195","8,497","8,497","30,770",...,0.38,1.39,1.25,"80,124","82,360","8,714","8,714","20,560","22,796","-2,236"
179,제주특별자치도,제주시,0,0,0,"57,894","59,101","4,683","3,814","19,845",...,0.62,1.34,1.44,"61,199","61,929","4,962","3,752","15,219","17,159",-730
180,제주특별자치도,서귀포시,0,0,0,"23,614","24,094","3,814","4,683","10,925",...,-0.27,1.52,0.88,"18,925","20,431","3,752","4,962","5,341","5,637","-1,506"

In [ ]:
for i,j in zip(range(12,12+15*10,10),range(0,15*179,179)):
    final_df.iloc[j:j+179,15:25] = pop_d.iloc[1:,i:i+10].values
final_df

In [143]:
final_df.to_excel('ecm_result1.5.xlsx',sheet_name="pop_d",index=False)

### 인구: 정태

In [145]:
final_df = pd.read_excel('./ecm_result1.5.xlsx')

pop_s = pd.read_excel('./EA_Data/pop_s.xlsx',sheet_name = "인구정태")
pop_s = pop_s.drop(1)
pop_s

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,Unnamed: 5,2022,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,2009,Unnamed: 59,Unnamed: 60,Unnamed: 61,2008,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,총인구수,성비,도시지역인구비율,인구밀도,총인구수,성비,도시지역인구비율,인구밀도,...,도시지역인구비율,인구밀도,총인구수,성비,도시지역인구비율,인구밀도,총인구수,성비,도시지역인구비율,인구밀도
2,서울특별시,서울특별시,"9,386,034",93.7,0,0,"9,428,372",94.1,100,0,...,100,"17,038.45","10,208,302",98.3,100,"16,866.15","10,200,827",98.5,100,"16,853.41"
3,부산광역시,부산광역시,"3,293,362",95.1,0,0,"3,317,812",95.4,99.77,0,...,98.88,"4,649.67","3,543,030",98.8,99.22,"4,624.66","3,564,577",99,99.46,"4,653.88"
4,대구광역시,대구광역시,"2,374,960",96.6,0,0,"2,363,691",96.8,98.7,0,...,96.79,"2,840.95","2,489,781",99.8,96.81,"2,816.28","2,492,724",100.1,96.8,"2,819.49"
5,인천광역시,인천광역시,"2,997,410",100,0,0,"2,967,314",100.2,97.78,0,...,97.04,"2,679.41","2,710,579",101.4,97.03,"2,639.3","2,692,696",101.5,97.04,"2,665.11"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,"60,047",96.9,0,0,"60,387",96.5,66.13,0,...,62.91,78.88,"63,180",94.7,62.38,78.58,"63,268",94.8,62.18,78.69
177,경상남도,합천군,"41,203",95.5,0,0,"42,142",94.6,26.11,0,...,23.38,51.95,"52,973",91.8,22.77,53.86,"55,677",91.7,22.48,56.61
178,제주특별자치도,제주특별자치도,"675,252",100.2,0,0,"678,159",100.3,94.44,0,...,94.25,308.98,"562,663",100,94.19,304.35,"560,618",99.8,94.07,303.28
179,제주특별자치도,제주시,"491,654",99.8,0,0,"493,389",99.8,97.42,0,...,97.04,426.94,"410,378",99.5,97.01,419.64,"407,498",99.4,96.92,416.76
180,제주특별자치도,서귀포시,"183,598",101.4,0,0,"184,770",101.5,86.5,0,...,86.66,176.51,"152,285",101.3,86.58,174.88,"153,120",101.1,86.48,175.85

In [146]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
final_df

/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3365593861.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['9,428,372', '3,317,812', '2,363,691', '2,967,314', '1,431,050', '1,446,072', '1,110,663', '383,591', '13,589,432', '1,190,964', '922,518', '463,724', '548,228', '790,128', '287,945', '578,529', '91,546', '641,660', '1,076,535', '78,137', '188,701', '737,353', '229,849', '512,912', '266,213', '160,221', '326,059', '1,074,971', '495,315', '222,721', '188,842', '484,267', '910,814', '391,462', '243,432', '146,701', '113,150', '0', '42,062', '62,150', '122,323', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1,595,058', '0', '208,277', '130,988', '849,573', '0', '31,455', '49,520', '44,956', '86,147', '37,055', '92,058', '27,767', '37,262', '2,123,037', '657,559', '102,571', '97,157', '334,539', '176,413', '112,617', '44,475', '168,253', '50,092', '0', '62,343', '49,964', '30,266', '98,068', '77,385', '61,335', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1,817,697', '216,939', '274,765', '278,737', '116,456', '152,168', '45,792', '27,060', '24,655', '61,880', '38,471', '62,024', '35,650', '33,177', '65,831', '52,395', '90,608', '30,784', '52,197', '43,146', '47,597', '29,507', '37,858', '2,600,492', '496,650', '249,607', '139,324', '154,610', '408,110', '100,749', '101,088', '94,823', '70,373', '267,725', '23,340', '50,186', '24,295', '16,022', '34,650', '41,614', '30,353', '42,566', '112,487', '55,755', '30,139', '47,030', '8,996', '3,280,493', '0', '0', '343,782', '0', '122,681', '109,369', '535,129', '102,945', '236,662', '353,792', '1,021,487', '26,061', '61,456', '58,372', '50,448', '41,579', '42,465', '34,028', '37,708', '60,387', '42,142', '678,159', '493,389', '184,770']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3365593861.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['94.1', '95.4', '96.8', '100.2', '97.7', '99.5', '105.6', '99.6', '101.3', '101.4', '98.1', '96.8', '97.7', '98', '96.8', '110.2', '99.6', '105.2', '95.5', '96.7', '98.1', '98.7', '108.6', '109.3', '98.6', '98.3', '99.7', '98.5', '103', '108.5', '106.9', '99.8', '108.3', '104.1', '102.4', '112.6', '103.6', '0', '110.8', '106.8', '101.1', '101.2', '97.5', '98.3', '98.4', '103.2', '101.7', '98.2', '102.7', '105.8', '105.4', '107.1', '106.9', '109.6', '107.2', '116', '110.3', '119.4', '106.4', '104.3', '103.4', '0', '102.6', '101', '102.1', '0', '101.9', '101.7', '100.1', '111.9', '106.2', '113.1', '103.5', '108.5', '104.8', '104.9', '99.8', '102.7', '108.8', '109', '99.7', '99.4', '113.9', '102.2', '0', '98.7', '97.8', '103.9', '99.2', '100.8', '102.2', '0', '99.1', '96.7', '102.6', '99.2', '99', '96.3', '98.8', '105.9', '103.7', '99.8', '100.9', '105.1', '96.7', '98.8', '98.9', '101.4', '98.8', '103.6', '99.5', '101.8', '109.5', '102.4', '97.9', '95.6', '95.1', '95.8', '97.6', '95.4', '94.6', '99.1', '109.3', '101.3', '101.9', '99.9', '105.6', '101.9', '99.1', '116.2', '101.8', '102.7', '100.2', '100.7', '97.8', '105.9', '98.2', '103.5', '96.9', '96.6', '101.3', '105.3', '97', '100.3', '99.7', '90.7', '97.5', '105.4', '108.6', '109.6', '96.6', '103', '101.5', '123.8', '101.4', '0', '0', '97.7', '0', '100.8', '102', '102.3', '96.8', '109.5', '100.4', '102.6', '97.9', '104.3', '100', '101.1', '94.4', '100.2', '98.3', '94', '96.5', '94.6', '100.3', '99.8', '101.5']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3365593861.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['100', '99.77', '98.7', '97.78', '100', '100', '97.01', '88.2', '94.76', '100', '100', '100', '100', '100', '100', '93.11', '100', '100', '100', '100', '100', '95.69', '100', '100', '100', '100', '100', '96.65', '90.86', '67.13', '63.73', '95.17', '91.82', '92.56', '85.4', '53.55', '66.9', '0', '61.87', '31.44', '26.32', '77.14', '81.91', '81.64', '86.83', '100', '100', '100', '84.17', '50.24', '45.05', '61.84', '24.71', '64.11', '90.41', '34.8', '63.64', '33.49', '47.58', '45.23', '79.85', '0', '75.28', '87.88', '92.09', '0', '46.23', '57.83', '43.89', '69.75', '25.59', '39.37', '54.85', '95.25', '70.7', '94.74', '65.3', '69.76', '64.68', '61.78', '63.34', '18.75', '63.56', '44.76', '0', '30.44', '48.48', '32.98', '75.52', '56.95', '61.23', '0', '79.7', '100', '88.04', '82.12', '69.07', '65.15', '55.06', '53.81', '39.81', '39.78', '33.41', '27.43', '37.4', '39.85', '41.51', '70.72', '100', '85.26', '85.76', '69.68', '88.71', '33.29', '28.13', '42.63', '36.87', '54.62', '64.32', '63.17', '39.42', '36.79', '56.15', '74.5', '26.86', '64.32', '31.04', '55.19', '37.86', '33.22', '76.97', '92.51', '78.1', '74.88', '76.95', '96.96', '80.3', '65.73', '61.32', '73.48', '92.24', '35.45', '25.53', '20.93', '43.85', '36.61', '47.82', '32.38', '31.42', '77.88', '25.71', '31.54', '35.96', '75.76', '79.16', '92.84', '0', '82.41', '0', '58.5', '56.52', '91.71', '64.22', '79.63', '82.14', '0', '35.85', '59.43', '48.01', '47.41', '30.9', '22.54', '19.61', '47.44', '66.13', '26.11', '94.44', '97.42', '86.5']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3365593861.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,60.4,0.0,4.80,"66,524","393,565","32,704",...,"468,146","430,576","465,916","-35,340","9,428,372",94.1,100,0,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.1,0.0,4.30,"36,308","154,858","8,356",...,"169,621","104,892","118,454","-13,562","3,317,812",95.4,99.77,0,NaN,NaN
2,대구광역시,대구광역시,2022,0.0,59.1,0.0,4.00,"32,272","121,485","6,192",...,"102,771","81,567","93,086","-11,519","2,363,691",96.8,98.7,0,NaN,NaN
3,인천광역시,인천광역시,2022,0.0,62.7,0.0,4.30,"35,427","155,906","5,375",...,"116,812","155,221","127,120","28,101","2,967,314",100.2,97.78,0,NaN,NaN
4,광주광역시,광주광역시,2022,0.0,58.6,0.0,5.50,"20,998","83,929","3,751",...,"65,006","55,458","63,100","-7,642","1,431,050",97.7,100,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0.0,0.0,0.0,7.90,607,"4,277",62,...,"1,386","2,696","3,141",-505,"63,268",94.8,62.18,78.69,NaN,NaN
2681,경상남도,합천군,2008,0.0,0.0,0.0,8.98,373,"2,445",56,...,"2,757","5,845","5,304",556,"55,677",91.7,22.48,56.61,NaN,NaN
2682,제주특별자치도,제주특별자치도,2008,0.0,68.0,0.0,13.91,"5,016","48,291",709,...,"8,714","20,560","22,796","-2,236","560,618",99.8,94.07,303.28,NaN,NaN
2683,제주특별자치도,제주시,2008,0.0,0.0,0.0,0.00,0,0,590,...,"3,752","15,219","17,159",-730,"407,498",99.4,96.92,416.76,NaN,NaN
2684,제주특별자치도,서귀포시,2008,0.0,0.0,0.0,0.00,0,0,119,...,"4,962","5,341","5,637","-1,506","153,120",101.1,86.48,175.85,NaN,NaN

In [147]:
final_df.to_excel('ecm_result1.6.xlsx',sheet_name="pop_s",index=False)

### 스트레스

In [150]:
final_df = pd.read_excel('./ecm_result1.6.xlsx')

stress = pd.read_excel('./EA_Data/stress.xlsx',sheet_name = "스트레스")
stress = stress.drop(1)
stress.head(5)

,시도,시군구,2023,Unnamed: 3,2022,Unnamed: 5,2021,Unnamed: 7,2020,Unnamed: 9,...,2012,Unnamed: 25,2011,Unnamed: 27,2010,Unnamed: 29,2009,Unnamed: 31,2008,Unnamed: 33
0,NaN,NaN,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율,...,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율,스트레스 인지율_조율,스트레스 인지율_표준화율
2,서울특별시,서울특별시,25.4,27.1,24,25.7,26.3,28,27.8,29.5,...,30.6,31.1,30.6,31,29.5,29.8,31.1,31.2,30.4,30.6
3,부산광역시,부산광역시,22,23.9,20.8,22.8,23.2,25.7,23.1,25.8,...,27,27.6,26.5,27.1,26.7,27.2,26.5,27,29.6,29.8
4,대구광역시,대구광역시,21.8,23.8,20.3,22.6,22.1,24.2,21.6,23.1,...,26.6,27.2,27,27.4,27.8,28,28.9,29.2,29.9,30.1
5,인천광역시,인천광역시,25.4,27,24.2,26.3,27.5,29.5,30.7,32.8,...,31.5,31.9,31.3,31.5,30.6,30.7,31.3,31.2,27.4,27.3

In [151]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values
final_df

/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3164768334.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['24', '20.8', '20.3', '24.2', '24.3', '23.4', '20.5', '20.1', '23.2', '22.4', '24.1', '24.8', '24.1', '25.5', '20.2', '26.4', '23.1', '26.2', '22.5', '22.3', '19.9', '23.2', '23.9', '23', '27.1', '22.8', '24.1', '19.7', '23.4', '21.3', '24.3', '23.9', '23.2', '18.4', '25.5', '23.1', '22', '0', '20.3', '15.3', '22.6', '22', '22.9', '25.6', '21.7', '19.8', '20.9', '16.2', '20.2', '20.7', '19.6', '20.6', '21.7', '20.2', '21.3', '19', '21.7', '23.5', '17.1', '22.5', '22.7', '0', '22', '26.1', '23.1', '0', '25.1', '17.8', '20.6', '24.7', '17.5', '21.4', '16.8', '21.9', '22.9', '24.5', '21.2', '21', '26.9', '24.3', '18.3', '21.9', '21.1', '19.5', '0', '18.5', '17.4', '21.5', '22.6', '18', '22.5', '0', '22.7', '24.5', '24.1', '21.7', '22.7', '24', '21.8', '14.4', '20.8', '20.1', '20.4', '20.2', '18.8', '22.4', '19.2', '19.6', '26.3', '17.8', '19.1', '21.8', '21.4', '18.3', '18.5', '14.2', '11.8', '22.1', '21.6', '19.5', '21', '17.9', '16.2', '15.1', '17.6', '24', '20.4', '19.2', '15.6', '16', '20.4', '20', '20.4', '22.2', '20.1', '23', '18.5', '21.8', '15', '19.2', '23.7', '16.1', '16.9', '14', '20.2', '20', '18.6', '17.5', '17.4', '18', '22.6', '19.9', '16.4', '16.6', '20.7', '22.4', '21.4', '19.1', '19', '20', '21', '25.8', '17.6', '15.3', '21.1', '21.4', '16', '20', '14.4', '18.8', '15.4', '18.1', '15.4', '21.8', '18.4', '18.1', '23', '23.4', '21.9']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values
/var/folders/8r/7lqlzhld40jfhd5w5cgxjcp00000gn/T/ipykernel_56067/3164768334.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['25.7', '22.8', '22.6', '26.3', '25.9', '24.5', '21.9', '20.1', '24.6', '23.3', '25.3', '26.3', '25.8', '26.9', '21.9', '27.8', '23.5', '28.5', '24.7', '23.9', '21.5', '25.2', '24', '23.2', '29.3', '25.4', '24.7', '21.2', '23.4', '22.4', '26.2', '24.8', '23.5', '18', '27.8', '25.5', '24.3', '0', '24.9', '17.3', '26.7', '25.5', '26.4', '28.8', '25.1', '20.8', '23.3', '17.2', '24.6', '25.4', '23', '24.3', '23.6', '24', '23.1', '22.9', '26', '26.5', '17.1', '27.6', '25.2', '0', '25.1', '29.6', '24.6', '0', '31.8', '22.3', '21.8', '27.6', '16.6', '26.4', '22.3', '24.9', '25.4', '25.4', '25.3', '21.1', '29.3', '25.9', '22', '23.8', '24', '23.8', '0', '22.3', '21.9', '23', '25.5', '19.6', '29.1', '0', '24.9', '25.7', '26.2', '24.3', '27.2', '25', '24.9', '15.3', '22.1', '24', '23.2', '26', '24.8', '26.7', '24.3', '21.5', '26.3', '20.3', '20.2', '25', '22.9', '19.8', '21.3', '14.4', '11.6', '26', '23.9', '20.4', '26.7', '22.3', '15.8', '17.5', '19.3', '24.8', '23.6', '21.7', '16.5', '14.4', '23.4', '22.6', '22.9', '24', '25.4', '25', '21', '24', '19', '24.5', '25.9', '20.6', '20.9', '18.5', '22.5', '19.5', '23.6', '20.9', '22.1', '19.9', '23.9', '24.4', '19.7', '18.6', '23.1', '24.8', '24', '20.4', '20.6', '21.9', '23.7', '27.6', '20.3', '16.3', '23.4', '23.7', '20.7', '23.9', '16.7', '22.3', '18.9', '22.6', '17.2', '27.5', '23.2', '23.1', '25', '25.4', '23.8']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,60.4,0.0,4.80,"66,524","393,565","32,704",...,"468,146","430,576","465,916","-35,340","9,428,372",94.1,100.00,0,24,25.7
1,부산광역시,부산광역시,2022,0.0,57.1,0.0,4.30,"36,308","154,858","8,356",...,"169,621","104,892","118,454","-13,562","3,317,812",95.4,99.77,0,20.8,22.8
2,대구광역시,대구광역시,2022,0.0,59.1,0.0,4.00,"32,272","121,485","6,192",...,"102,771","81,567","93,086","-11,519","2,363,691",96.8,98.70,0,20.3,22.6
3,인천광역시,인천광역시,2022,0.0,62.7,0.0,4.30,"35,427","155,906","5,375",...,"116,812","155,221","127,120","28,101","2,967,314",100.2,97.78,0,24.2,26.3
4,광주광역시,광주광역시,2022,0.0,58.6,0.0,5.50,"20,998","83,929","3,751",...,"65,006","55,458","63,100","-7,642","1,431,050",97.7,100.00,0,24.3,25.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,경상남도,거창군,2008,0.0,0.0,0.0,7.90,607,"4,277",62,...,"1,386","2,696","3,141",-505,"63,268",94.8,62.18,78.69,21.7,20.4
2681,경상남도,합천군,2008,0.0,0.0,0.0,8.98,373,"2,445",56,...,"2,757","5,845","5,304",556,"55,677",91.7,22.48,56.61,39,43.3
2682,제주특별자치도,제주특별자치도,2008,0.0,68.0,0.0,13.91,"5,016","48,291",709,...,"8,714","20,560","22,796","-2,236","560,618",99.8,94.07,303.28,30.3,30.3
2683,제주특별자치도,제주시,2008,0.0,0.0,0.0,0.00,0,0,590,...,"3,752","15,219","17,159",-730,"407,498",99.4,96.92,416.76,0,0
2684,제주특별자치도,서귀포시,2008,0.0,0.0,0.0,0.00,0,0,119,...,"4,962","5,341","5,637","-1,506","153,120",101.1,86.48,175.85,0,0

In [152]:
final_df.to_excel('ecm_result1.7.xlsx',sheet_name="stress",index=False)