In [4]:
import pandas as pd
import numpy as np
import os 
import csv

### 경제수준:economic_level.xlsx

In [4]:
final_df = pd.read_excel('./EA_Data/final_local.xlsx')
final_df.head(2)

,시도,시군구,year,hos,er,er1564,cf,kin,elementary,doctors,...,pout,pin2,pout2,netmg,tp,sr,upr,pd,strea,stres
0,서울특별시,서울특별시,2022,0.0,61.1,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,부산광역시,2022,0.0,57.7,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
el = pd.read_excel('./EA_Data/economic_level.xlsx', engine='openpyxl',sheet_name=1)
el.drop(1,inplace=True)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [110]:
el

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,2022,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,...,Unnamed: 40,2010,Unnamed: 42,Unnamed: 43,2009,Unnamed: 45,Unnamed: 46,2008,Unnamed: 48,Unnamed: 49
0,NaN,NaN,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,...,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세,주택소유율,고용률,고용률 15-64세
2,서울특별시,서울특별시,0,61.1,0,0,60.4,0,0,59.2,...,0,0,59.2,0,0,58.5,0,0,60.1,0
3,부산광역시,부산광역시,0,57.7,0,0,57.1,0,0,56.2,...,0,0,54.3,0,0,54.2,0,0,55.3,0
4,대구광역시,대구광역시,0,59.8,0,0,59.1,0,0,58.2,...,0,0,57,0,0,56.4,0,0,56.5,0
5,인천광역시,인천광역시,0,63.1,0,0,62.7,0,0,61.3,...,0,0,59.6,0,0,59.2,0,0,59.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,경상남도,합천군,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,제주특별자치도,제주특별자치도,0,69.2,0,0,69.9,0,0,67.4,...,0,0,65.2,0,0,67.1,0,0,68,0
179,제주특별자치도,제주시,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,제주특별자치도,서귀포시,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
for i,j in zip(range(5,5+15*3,3),range(0,15*179,179)):
    final_df.iloc[j:j+179,3:6] = el.iloc[1:,i:i+3].values
final_df

In [ ]:
# final_df.loc[0:179,["hos","er","er1564"]] = el.iloc[1:,5:8].values
final_df.iloc[0:179,2:5]

In [105]:
final_df.to_excel('ecm_result1.0.xlsx',sheet_name="economic_level",index=False)

### 인구10만명 당 문화기반 시설: cf

In [ ]:
final_df = pd.read_excel('./ecm_result1.0.xlsx')
final_df.head(5)

In [ ]:
infra = pd.read_excel('./EA_Data/infra.xlsx',sheet_name = "문화시설")
infra = infra.drop(1)
infra

In [ ]:
for i,j in zip(range(2,17),range(0,15*179,179)):
    final_df.iloc[j:j+179,6] = infra.iloc[1:,i].astype(float).values
final_df

In [122]:
final_df.to_excel('ecm_result1.1.xlsx',sheet_name="economic_level",index=False)

### 학생수: kin, elementary

In [ ]:
final_df = pd.read_excel('./ecm_result1.1.xlsx')
final_df.head(5)

kin = pd.read_excel('./EA_Data/edus.xlsx',sheet_name = "교육기관, 인력, 예산")
kin = kin.drop(1)
kin

In [ ]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,7:9] = kin.iloc[1:,i:i+2].values
final_df

final_df.to_excel('ecm_result1.2.xlsx',sheet_name="edus",index=False)

In [ ]:
final_df

### 의사수: doctors

In [ ]:
final_df = pd.read_excel('./ecm_result1.2.xlsx')

doctors = pd.read_excel('./EA_Data/healthcare.xlsx',sheet_name = "보건의료인력")
doctors = doctors.drop(1)

In [ ]:
doctors

In [ ]:
for i,j in zip(range(3,3+15),range(0,15*179,179)):
    final_df.iloc[j:j+179,9] = doctors.iloc[1:,i].values

In [ ]:
final_df

In [132]:
final_df.to_excel('ecm_result1.3.xlsx',sheet_name="doctors",index=False)

### 삶의 질: life

In [ ]:
final_df = pd.read_excel('./ecm_result1.3.xlsx')

lifes = pd.read_excel('./EA_Data/life.xlsx',sheet_name = "삶의 질")
lifes = lifes.drop(1)
lifes

In [ ]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
final_df

In [139]:
final_df.to_excel('ecm_result1.4.xlsx',sheet_name="life",index=False)

### 미분양: 전처리 필요

In [41]:
nonhouse = pd.read_excel('./EA_Data/nonhouse.xlsx')

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [42]:
nonhouse.rename(columns={"미분양주택현황보고(Unsold New Housings) / 시·군·구별 미분양현황 (200012 ~ 202409)":"월","Unnamed: 1": "구분", "Unnamed: 2": "시군구","Unnamed: 3": "미분양"}, inplace=True)
nonhouse.columns

Index(['월', '구분', '시군구', '미분양'], dtype='object')

In [ ]:
nonhouse

In [ ]:
nonhouse.drop(index=[0,1,2,3],inplace=True)
nonhouse.head(8)

In [74]:
nonhouse = nonhouse[
    ~(
        (nonhouse['월'].str[-2:] != "12") |
        (nonhouse['월'].str[:4] == "2023") |
        (nonhouse['구분'].isin(['서울', '부산', '대구', '인천', '광주', '대전', '울산'])) &
        (nonhouse['시군구'].str.strip() != "계") 

    )
]

In [75]:
nonhouse

             월  구분   시군구     미분양
4      2008-12  서울     계   2,486
30     2008-12  부산     계  13,997
47     2008-12  대구     계  21,379
56     2008-12  인천     계   1,647
67     2008-12  광주     계  12,384
...        ...  ..   ...     ...
41707  2022-12  경남   거창군       0
41708  2022-12  경남   합천군       0
41709  2022-12  제주     계   1,676
41710  2022-12  제주   제주시     863
41711  2022-12  제주  서귀포시     813

[2593 rows x 4 columns]

In [76]:
nonhouse.to_excel('pp_nonhouse.xlsx', index=False)

#### 시군구 check!!

In [103]:
index = pd.read_excel('EA_Data/index.xlsx')
house = pd.read_excel('pp_nonhouse.xlsx')

In [106]:
index = index[:190]
house = house[:190]

In [ ]:
idx = list(set(index['시군구']))
idx_2 = list(set(house['시군구']))

print(len(idx))
print(len(idx_2))
for i in idx:
    if i not in idx_2:
        print(i)
print("=====")
for i in idx_2:
    if i not in idx:
        print(i)

178
174
통합청주시
세종특별자치시
여주시
당진시
통합창원시
제주특별자치도
=====
계
제주특별시

창원시 -> 통합창원시
청주시 -> 통합청주시
세종특별자치시 없음 (2012전까지 0으로 만들기)
여주군, 여주시 만들기 
당진군, 당진시 만들기

### 인구: 동태

In [ ]:
final_df = pd.read_excel('./ecm_result1.4.xlsx')

pop_d = pd.read_excel('./EA_Data/pop_d.xlsx',sheet_name = "인구동태")
pop_d = pop_d.drop(1)
pop_d

In [ ]:
for i,j in zip(range(12,12+15*10,10),range(0,15*179,179)):
    final_df.iloc[j:j+179,15:25] = pop_d.iloc[1:,i:i+10].values
final_df

In [143]:
final_df.to_excel('ecm_result1.5.xlsx',sheet_name="pop_d",index=False)

### 인구: 정태

In [ ]:
final_df = pd.read_excel('./ecm_result1.5.xlsx')

pop_s = pd.read_excel('./EA_Data/pop_s.xlsx',sheet_name = "인구정태")
pop_s = pop_s.drop(1)
pop_s

In [ ]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
final_df

In [147]:
final_df.to_excel('ecm_result1.6.xlsx',sheet_name="pop_s",index=False)

### 스트레스

In [ ]:
final_df = pd.read_excel('./ecm_result1.6.xlsx')

stress = pd.read_excel('./EA_Data/stress.xlsx',sheet_name = "스트레스")
stress = stress.drop(1)
stress.head(5)

In [ ]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values
final_df

In [152]:
final_df.to_excel('ecm_result1.7.xlsx',sheet_name="stress",index=False)

### 지가 변동률, Grdp

In [ ]:
df = pd.read_excel('./results/ecm_result1.7.xlsx')

lpv = pd.read_excel('./EA_Data/landPrice.xlsx')
grdp = pd.read_excel('./EA_Data/grdp.xlsx')

In [ ]:
for i,j in zip(range(6,6+15),range(0,15*179,179)):
    df.iloc[j:j+179,31] = lpv.iloc[1:,i].values

for i,j in zip(range(3,3+14),range(0,14*179,179)):
    df.iloc[j:j+179,32] = grdp.iloc[1:,i].values
    
df

In [16]:
df.to_excel('ecm_result1.8.xlsx',sheet_name="grdp, landPrice",index=False)

In [ ]:
merged_df = pd.concat([df1, df2], ignore_index=True)