In [58]:
import pandas as pd
import numpy as np
import math

def get_distance(lat1, lon1, lat2, lon2):
    R = 6371  # 지구 반지름 (킬로미터)
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])  # 각도를 라디안으로 변환
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    
    distance = round(distance)
    return distance

In [ ]:
df = pd.read_excel('EA_Data/location.xlsx')

In [ ]:
location = df["시도 시군구 위도 (Latitude) 경도 (Longitude)"].str.split(" ", expand=True)
location.columns = ["시도", "시군구", "위도", "위도방향", "경도","경도방향"]

In [ ]:
location.drop(columns=["시도","위도방향","경도방향"])

In [33]:
location["위도"] = location["위도"].str.replace("°", "", regex=False).astype(float)
location["경도"] = location["경도"].str.replace("°", "", regex=False).astype(float)

In [49]:
location

          시도      시군구       위도 위도방향        경도 경도방향      서울과의 거리   테스트
0      서울특별시    서울특별시  37.5665    N  126.9780    E  6802.194518  None
1      부산광역시    부산광역시  35.1796    N  129.0756    E  6867.095763  None
2      대구광역시    대구광역시  35.8714    N  128.6014    E  6840.264216  None
3      인천광역시    인천광역시  37.4563    N  126.7052    E  6827.614014  None
4      광주광역시    광주광역시  35.1595    N  126.8526    E  7005.900578  None
..       ...      ...      ...  ...       ...  ...          ...   ...
174     경상남도      거창군  35.6868    N  127.9093    E  6897.883760  None
175     경상남도      합천군  35.5661    N  128.1654    E  6891.942377  None
176  제주특별자치도  제주특별자치도  33.4890    N  126.4983    E  7165.486118  None
177  제주특별자치도      제주시  33.5008    N  126.5312    E  7162.474172  None
178  제주특별자치도     서귀포시  33.2539    N  126.5593    E  7181.206733  None

[179 rows x 8 columns]

In [52]:
seoul_lat, seoul_long = 37.5665, 126.9780

In [59]:
location["서울과의 거리"] = location.apply(lambda location: get_distance(seoul_lat, seoul_long, location["위도"], location["경도"]), axis=1)

In [60]:
location

          시도      시군구       위도 위도방향        경도 경도방향  서울과의 거리   테스트
0      서울특별시    서울특별시  37.5665    N  126.9780    E        0  None
1      부산광역시    부산광역시  35.1796    N  129.0756    E      325  None
2      대구광역시    대구광역시  35.8714    N  128.6014    E      238  None
3      인천광역시    인천광역시  37.4563    N  126.7052    E       27  None
4      광주광역시    광주광역시  35.1595    N  126.8526    E      268  None
..       ...      ...      ...  ...       ...  ...      ...   ...
174     경상남도      거창군  35.6868    N  127.9093    E      225  None
175     경상남도      합천군  35.5661    N  128.1654    E      246  None
176  제주특별자치도  제주특별자치도  33.4890    N  126.4983    E      455  None
177  제주특별자치도      제주시  33.5008    N  126.5312    E      454  None
178  제주특별자치도     서귀포시  33.2539    N  126.5593    E      481  None

[179 rows x 8 columns]

In [61]:
location.to_excel("cal_distance.xlsx", index=False)