In [107]:
import pandas as pd
import numpy as np
import os

#### index unique check

In [80]:
direc = '../industry/'
checkbeforecol = []

for file in os.listdir(direc):
    if file.endswith(".xlsx"):
        fileloc = os.path.join(direc, file)
        with open(fileloc) as f:
            region = pd.read_excel(fileloc)
            region.set_index(['시군별(1)','시점'],inplace=True)
            print(file, region.index.nunique() == region.index.shape[0])

울산.xlsx True
제주.xlsx True
광주2.xlsx True
대전1.xlsx True
세종.xlsx True
충북.xlsx True
대구.xlsx True
경남.xlsx True
충남2.xlsx True
indus_r.xlsx True
경북2.xlsx True
부산1.xlsx True
부산2.xlsx True
강원.xlsx True
경북1.xlsx True
충남1.xlsx True
대전2.xlsx True
전남.xlsx True
전북.xlsx True
광주1.xlsx True

#### mark

In [144]:
result_nidx = pd.read_excel("../indust_merge/final.xlsx")
result_nidx

Empty DataFrame
Columns: [시군별(1), 시점, 합계, 합계.1, 농업·임업 및 어업, 농업·임업 및 어업.1, 광업, 광업.1, 제조업, 제조업.1, 전기·가스·증기 및 공기조절 공급업, 전기·가스·증기 및 공기조절 공급업.1, 수도·하수 및 폐기물 처리 원료재생업, 수도·하수 및 폐기물 처리 원료재생업.1, 건설업, 건설업.1, 도매 및 소매업, 도매 및 소매업.1, 운수 및 창고업, 운수 및 창고업.1, 숙박 및 음식점업, 숙박 및 음식점업.1, 정보통신업, 정보통신업.1, 금융 및 보험업, 금융 및 보험업.1, 부동산업, 부동산업.1, 전문, 과학 및 기술서비스업, 전문, 과학 및 기술서비스업.1, 사업시설관리, 사업지원 및 임대 서비스업, 사업시설관리, 사업지원 및 임대 서비스업.1, 공공행정, 국방 및 사회보장 행정, 공공행정, 국방 및 사회보장 행정.1, 교육 서비스업, 교육 서비스업.1, 보건업 및 사회복지 서비스업, 보건업 및 사회복지 서비스업.1, 예술, 스포츠 및 여가 관련 서비스업, 예술, 스포츠 및 여가 관련 서비스업.1, 협회 및 단체, 수리 및 기타 개인서비스업, 협회 및 단체, 수리 및 기타 개인서비스업.1]
Index: []

[0 rows x 42 columns]

In [ ]:
direc = '../industry/'

for file in os.listdir(direc):
    if file.endswith(".xlsx"):
        fileloc = os.path.join(direc, file)
        with open(fileloc) as f:
            print(fileloc)
            region = pd.read_excel(fileloc)
            result_nidx = pd.concat([result_nidx,region])

result_nidx

In [146]:
result_nidx.to_excel('../indust_merge/final_nidx.xlsx')

#### to_index

당진군 -> 당진시

In [205]:
result_nidx = pd.read_excel('../indust_merge/final_nidx.xlsx')

In [206]:
result_nidx.set_index(['시군별(1)','시점'],inplace=True)

In [208]:
idxs = pd.read_excel('../indust_merge/indus_r.xlsx')
idxs.set_index(['시군별(1)','시점'],inplace=True)
idxs.index.nunique() == idxs.index.shape[0]

True

In [ ]:
result_nidx = result_nidx.replace(['X', '-'], np.nan)

In [215]:
to_index = result_nidx.reindex(idxs.index)

In [216]:
to_index

,,Unnamed: 0,합계,합계.1,농업·임업 및 어업,농업·임업 및 어업.1,광업,광업.1,제조업,제조업.1,전기·가스·증기 및 공기조절 공급업,...,"공공행정, 국방 및 사회보장 행정","공공행정, 국방 및 사회보장 행정.1",교육 서비스업,교육 서비스업.1,보건업 및 사회복지 서비스업,보건업 및 사회복지 서비스업.1,"예술, 스포츠 및 여가 관련 서비스업","예술, 스포츠 및 여가 관련 서비스업.1","협회 및 단체, 수리 및 기타 개인서비스업","협회 및 단체, 수리 및 기타 개인서비스업.1"
시군별(1),시점,,,,,,,,,,,,,,,,,,,,,
서울특별시,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부산광역시,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
대구광역시,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
인천광역시,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
광주광역시,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
산청군,2008,186.0,2231.0,8837.0,9.0,135,4.0,44,199.0,935.0,2.0,...,35.0,879.0,95.0,826.0,80.0,572.0,53.0,349.0,323.0,512.0
함양군,2008,199.0,2965.0,11009.0,15.0,108,NaN,NaN,260.0,1770.0,4.0,...,35.0,919.0,121.0,896.0,91.0,872.0,52.0,150.0,367.0,720.0
거창군,2008,212.0,4305.0,16122.0,13.0,495,9.0,149,335.0,1715.0,3.0,...,48.0,1216.0,260.0,1764.0,141.0,1140.0,105.0,253.0,591.0,990.0
합천군,2008,225.0,3349.0,11035.0,10.0,84,3.0,28,373.0,1383.0,5.0,...,52.0,1172.0,133.0,1042.0,96.0,812.0,62.0,301.0,459.0,771.0
제주특별자치도,2008,0.0,44307.0,180882.0,418.0,3980,16.0,236,2077.0,8657.0,16.0,...,213.0,10310.0,2204.0,15760.0,1288.0,12498.0,1366.0,8828.0,4634.0,9714.0

In [217]:
to_index.to_excel('../indust_merge/final_idx.xlsx')