In [1]:
import pandas as pd

In [20]:
before = pd.read_excel("results/ecm_result.2.1.xlsx")

1. 지가변동률
2. grdp
3. 경제활동인구, 고용률, 실업률

In [27]:
lpv = pd.read_excel('./EA_Data/landPrice.xlsx')
grdp = pd.read_excel('./EA_Data/grdp.xlsx')

In [28]:
before.iloc[1:3,[31]]

     lpv
1 -0.174
2 -0.451

In [93]:
for i,j in zip(range(20,5,-1),range(0,15*179,179)):
    before.iloc[j:j+179,31] = lpv.iloc[1:,i].values

for i,j in zip(range(16,2,-1), range(179,14*179,179)):
    before.iloc[j:j+179,32] = grdp.iloc[1:,i].values

In [95]:
grdp.iloc[1:,16]

1      472040199
2       97805911
3       60987154
4       98670502
5       43742580
         ...
175      1645349
176      1183426
177     20187503
178     14681431
179      5506072
Name: 2021, Length: 179, dtype: object

In [94]:
before[["lpv","grdp"]]

        lpv      grdp
0     3.064  56182324
1     2.746  56182324
2     2.551  32714330
3     2.368  47827269
4     2.273  21745349
...     ...       ...
2680 -0.236     1.879
2681 -0.134     1.459
2682  -0.02     1.887
2683 -0.022     1.922
2684 -0.016      1.84

[2685 rows x 2 columns]

In [74]:
#38-40
el = pd.read_excel("EA_Data/economic_level.xlsx")

In [76]:
el = el.iloc[:, 26:]

In [ ]:
el

In [89]:
for i,j in zip(range(42,-1,-3),range(0,15*179,179)):
    before.iloc[j:j+179,37:40] = el.iloc[1:,i:i+3].values

In [ ]:
before

In [91]:
before.to_excel("results/ecm_results3.0.xlsx")