In [2]:
import pandas as pd

In [19]:
df = pd.read_excel('../results/ecm_result6.3.xlsx')

In [21]:
df.drop(columns='Unnamed: 0',inplace=True)

In [22]:
df.set_index(['시군구','year'],inplace=True)

In [23]:
df

,,시도,통합 필드,hos,cf,kin,elementary,doctors,qlifea,qlifes,hapa,...,health_ser,health_ser2,arts,arts2,associ,associ2,value,youth,s,s1
시군구,year,,,,,,,,,,,,,,,,,,,,,
서울특별시,2022,서울특별시,서울,NaN,4.80,66524,393565,32704.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.878213e+10,0.227842,NaN,NaN
부산광역시,2022,부산광역시,부산,NaN,4.30,36308,154858,8356.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.806341e+09,0.179487,3457.0,3.457
대구광역시,2022,대구광역시,대구,NaN,4.00,32272,121485,6192.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.363051e+09,0.184215,3277.0,3.277
인천광역시,2022,인천광역시,인천,NaN,4.30,35427,155906,5375.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.143932e+09,0.196102,NaN,NaN
광주광역시,2022,광주광역시,광주,NaN,5.50,20998,83929,3751.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.635299e+09,0.200161,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
산청군,2008,경상남도,산청,NaN,19.98,162,1593,32.0,0.89,0.94,NaN,...,80.0,572.0,53.0,349.0,323.0,512.0,2.085816e+07,0.154838,NaN,NaN
함양군,2008,경상남도,함양,NaN,4.94,389,2325,44.0,0.91,0.95,NaN,...,91.0,872.0,52.0,150.0,367.0,720.0,3.708130e+07,0.155166,NaN,NaN
거창군,2008,경상남도,거창,NaN,7.90,607,4277,62.0,0.94,0.96,NaN,...,141.0,1140.0,105.0,253.0,591.0,990.0,3.093147e+07,0.178242,NaN,NaN
합천군,2008,경상남도,합천,NaN,8.98,373,2445,56.0,0.90,0.94,NaN,...,96.0,812.0,62.0,301.0,459.0,771.0,2.131120e+07,0.169442,NaN,NaN
제주특별자치도,2008,제주특별자치도,제주,NaN,13.91,5016,48291,709.0,0.96,0.96,NaN,...,1288.0,12498.0,1366.0,8828.0,4634.0,9714.0,4.450588e+08,0.213957,0.0,0.000

In [26]:
idxs = pd.read_excel('../EA_Data/size.xlsx')
newidx = idxs.set_index(['시군구','year'])

In [28]:
newidx.dtypes

s       int64
s1    float64
dtype: object

In [29]:
newidx.reindex(df.index)

                   s     s1
시군구     year
서울특별시   2022     NaN    NaN
부산광역시   2022  3457.0  3.457
대구광역시   2022  3277.0  3.277
인천광역시   2022     NaN    NaN
광주광역시   2022     NaN    NaN
...              ...    ...
산청군     2008     NaN    NaN
함양군     2008     NaN    NaN
거창군     2008     NaN    NaN
합천군     2008     NaN    NaN
제주특별자치도 2008     NaN    NaN

[2415 rows x 2 columns]

In [30]:
newidx.index.get_level_values('year').astype(int)

Index([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2013,
       ...
       2022, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype='int64', name='year', length=164)

In [31]:
newidx.index.difference(df.index)

MultiIndex([], names=['시군구', 'year'])

In [32]:
result = pd.concat([df,newidx],axis=1)

In [33]:
result.to_excel('../results/ecm_result6.2.xlsx')

In [34]:
df2 = pd.read_excel('../results/ecm_result6.2.xlsx')
df2

,시군구,year,시도,통합 필드,hos,cf,kin,elementary,doctors,qlifea,...,arts,arts2,associ,associ2,value,youth,s,s1,s.1,s1.1
0,서울특별시,2022,서울특별시,서울,NaN,4.80,66524,393565,32704.0,NaN,...,NaN,NaN,NaN,NaN,2.878213e+10,0.227842,NaN,NaN,NaN,NaN
1,부산광역시,2022,부산광역시,부산,NaN,4.30,36308,154858,8356.0,NaN,...,NaN,NaN,NaN,NaN,6.806341e+09,0.179487,3457.0,3.457,3457.0,3.457
2,대구광역시,2022,대구광역시,대구,NaN,4.00,32272,121485,6192.0,NaN,...,NaN,NaN,NaN,NaN,4.363051e+09,0.184215,3277.0,3.277,3277.0,3.277
3,인천광역시,2022,인천광역시,인천,NaN,4.30,35427,155906,5375.0,NaN,...,NaN,NaN,NaN,NaN,6.143932e+09,0.196102,NaN,NaN,NaN,NaN
4,광주광역시,2022,광주광역시,광주,NaN,5.50,20998,83929,3751.0,NaN,...,NaN,NaN,NaN,NaN,2.635299e+09,0.200161,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2410,산청군,2008,경상남도,산청,NaN,19.98,162,1593,32.0,0.89,...,53.0,349.0,323.0,512.0,2.085816e+07,0.154838,NaN,NaN,NaN,NaN
2411,함양군,2008,경상남도,함양,NaN,4.94,389,2325,44.0,0.91,...,52.0,150.0,367.0,720.0,3.708130e+07,0.155166,NaN,NaN,NaN,NaN
2412,거창군,2008,경상남도,거창,NaN,7.90,607,4277,62.0,0.94,...,105.0,253.0,591.0,990.0,3.093147e+07,0.178242,NaN,NaN,NaN,NaN
2413,합천군,2008,경상남도,합천,NaN,8.98,373,2445,56.0,0.90,...,62.0,301.0,459.0,771.0,2.131120e+07,0.169442,NaN,NaN,NaN,NaN
2414,제주특별자치도,2008,제주특별자치도,제주,NaN,13.91,5016,48291,709.0,0.96,...,1366.0,8828.0,4634.0,9714.0,4.450588e+08,0.213957,0.0,0.000,NaN,NaN

In [35]:
q1 = newidx.index.get_level_values('시군구')
q1.unique().to_list()

['진천군',
 '음성군',
 '진주시',
 '전주시',
 '완주군',
 '부산광역시',
 '대구광역시',
 '나주시',
 '울산광역시',
 '원주시',
 '김천시',
 '제주특별자치도',
 '세종특별자치시',
 '경주시',
 '보령시',
 '아산시',
 '태안군',
 '청주시']

In [43]:
import numpy as np

df2.loc[(pd.isnull(df2['s.1'])) & (df2['시군구'].isin(q1)), 's.1'] = 0
df2.loc[(pd.isnull(df2['s1.1'])) & (df2['시군구'].isin(q1)), 's1.1'] = 0

In [44]:
df2[df2['시군구']=='세종특별자치시']

,시군구,year,시도,통합 필드,hos,cf,kin,elementary,doctors,qlifea,...,arts,arts2,associ,associ2,value,youth,s,s1,s.1,s1.1
7,세종특별자치시,2022,세종특별자치시,세종,NaN,6.80,6422,32230,496.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.172663,3811.0,3.811,21836.0,21.836
168,세종특별자치시,2021,세종특별자치시,세종,NaN,6.50,6600,30726,458.0,NaN,...,NaN,NaN,NaN,NaN,877116089.0,0.176370,3811.0,3.811,21836.0,21.836
329,세종특별자치시,2020,세종특별자치시,세종,52.49,6.50,6763,29487,441.0,NaN,...,748.0,2456.0,2175.0,4313.0,795242228.0,0.178363,3811.0,3.811,21836.0,21.836
490,세종특별자치시,2019,세종특별자치시,세종,53.52,6.50,6541,27892,302.0,0.96,...,NaN,NaN,NaN,NaN,666939332.0,0.181998,3811.0,3.811,21836.0,21.836
651,세종특별자치시,2018,세종특별자치시,세종,54.23,6.05,6393,24865,270.0,0.94,...,541.0,1998.0,1553.0,3559.0,670652387.0,0.184200,3811.0,3.811,21836.0,21.836
812,세종특별자치시,2017,세종특별자치시,세종,53.61,5.00,5370,20764,239.0,0.96,...,469.0,1627.0,1272.0,2812.0,665142289.0,0.186269,3811.0,3.811,21836.0,21.836
973,세종특별자치시,2016,세종특별자치시,세종,52.22,5.40,4888,17910,180.0,0.95,...,370.0,1255.0,1126.0,2512.0,499626024.0,0.192209,3811.0,3.811,21836.0,21.836
1134,세종특별자치시,2015,세종특별자치시,세종,NaN,5.70,4108,13353,159.0,0.94,...,NaN,NaN,NaN,NaN,512028077.0,0.196573,3811.0,3.811,19683.0,19.683
1295,세종특별자치시,2014,세종특별자치시,세종,NaN,6.41,1699,8057,124.0,0.92,...,227.0,919.0,860.0,2085.0,386815581.0,0.197015,3129.0,3.129,19683.0,19.683
1456,세종특별자치시,2013,세종특별자치시,세종,NaN,6.55,1305,7090,96.0,0.94,...,200.0,788.0,830.0,1879.0,216597491.0,0.191866,463.0,0.463,11517.0,11.517
1617,세종특별자치시,2012,세종특별자치시,세종,NaN,5.30,857,5008,86.0,0.93,...,179.0,780.0,788.0,1654.0,119098703.0,0.190882,0.0,0.000,5842.0,5.842
1778,세종특별자치시,2011,세종특별자치시,세종,NaN,6.03,642,4763,71.0,0.92,...,149.0,504.0,659.0,1243.0,92322435.0,0.196079,0.0,0.000,0.0,0.000
1939,세종특별자치시,2010,세종특별자치시,세종,NaN,6.10,633,4989,76.0,0.93,...,144.0,458.0,645.0,1215.0,63363949.0,0.215498,0.0,0.000,0.0,0.000
2100,세종특별자치시,2009,세종특별자치시,세종,NaN,6.29,635,5117,75.0,0.93,...,140.0,412.0,634.0,1101.0,68484878.0,0.213822,0.0,0.000,0.0,0.000
2261,세종특별자치시,2008,세종특별자치시,세종,NaN,6.36,526,5318,77.0,0.94,...,142.0,543.0,641.0,1171.0,83806431.0,0.219925,0.0,0.000,0.0,0.000

In [45]:
df2.to_excel('../results/ecm_result6.3.xlsx',index=True)

In [39]:
volume = pd.read_excel('../results/ecm_result6.3.xlsx')

In [15]:
volume.columns

Index(['Unnamed: 0', '시군구', 'year', '시도', '통합 필드', 'hos', 'cf', 'kin',
       'elementary', 'doctors', 'qlifea', 'qlifes', 'hapa', 'haps', 'popgr',
       'tfer', 'eri', 'tin', 'tout', 'pin', 'pout', 'pin2', 'pout2', 'netmg',
       'tp', 'sr', 'upr', 'pd', 'strea', 'stres', 'lpv', 'grdp', 'unsold',
       'apt_trans', 'ktx', 'seoul_dist', 'ep', 'er', 'ur', 'Unnamed: 39',
       'Unnamed: 40', 'total_ind', 'total_ind2', 'first_ind', 'first_ind2',
       'mining', 'mining2', 'manuf', 'manuf2', 'elec_water', 'elec_water2',
       'waste', 'waste2', 'construc', 'construc2', 'commerce', 'commerce2',
       'transp', 'transp2', 'hospitality', 'hospitality2', 'info_ind',
       'info_ind2', 'finan', 'finan2', 'real_est', 'real_est2', 'science',
       'science2', 'facility', 'facility2', 'public', 'public2', 'educ_ser',
       'educ_ser2', 'health_ser', 'health_ser2', 'arts', 'arts2', 'associ',
       'associ2', 'value', 'youth', 's', 's1'],
      dtype='object')

In [18]:
volume.loc[volume['시군구']=='세종특별자치시',['s1']]

         s1
7     3.811
168   3.811
329   3.811
490   3.811
651   3.811
812   3.811
973   3.811
1134  3.811
1295  3.129
1456  0.463
1617  0.000
1778  0.000
1939  0.000
2100  0.000
2261  0.000