In [2]:
import pandas as pd

In [9]:
df = pd.read_excel('../results/ecm_result6.xlsx')
df.drop(columns='Unnamed: 0',inplace=True)

In [10]:
df.set_index(['시군구','year'],inplace=True)

In [28]:
idxs = pd.read_excel('../EA_Data/size.xlsx')
newidx = idxs.set_index(['시군구','year'])

In [29]:
newidx.reindex(df.index)

                   s     s1
시군구     year
서울특별시   2022     NaN    NaN
부산광역시   2022  3457.0  3.457
대구광역시   2022  3277.0  3.277
인천광역시   2022     NaN    NaN
광주광역시   2022     NaN    NaN
...              ...    ...
산청군     2008     NaN    NaN
함양군     2008     NaN    NaN
거창군     2008     NaN    NaN
합천군     2008     NaN    NaN
제주특별자치도 2008     NaN    NaN

[2415 rows x 2 columns]

In [30]:
newidx.index.get_level_values('year').astype(int)

Index([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2013,
       ...
       2022, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype='int64', name='year', length=163)

In [31]:
newidx.index.difference(df.index)

MultiIndex([], names=['시군구', 'year'])

In [34]:
result = pd.concat([df,newidx],axis=1)

In [35]:
result.to_excel('../results/ecm_result6.2.xlsx')